:root {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	max-width: 1600px;
	position: relative;
	margin: auto;
	z-index: 1;
}

body::after {
	content: '';
	display: block;
	position: absolute;
	margin: auto;
	height: auto;
	width: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: whitesmoke;
}

body > * {
	position: relative;
	z-index: 2;
}

.container {
	width: 85%;
}
