@use 'fonts' as font;
@use 'colors' as color;

body.dark {
	#testimoni {
		.heading-2 {
			color: color.$white-color;
		}

		.paragraph {
			color: color.$grey2-color;
		}

		.items-container {
			.items {
				background-color: rgba(59, 84, 147, 0.3);
				backdrop-filter: blur(4px);

				.name {
					color: color.$white-color;
				}
				.instagram {
					color: color.$grey2-color;
				}

				.date {
					color: color.$white-color;
				}
			}
		}
	}
}

#testimoni {
	@include font.fontStyle();
	scroll-margin-top: 150px;

	.container {
		margin: 150px auto 50px;

		.heading-2 {
			@include font.fontStyle(semibold);
			text-align: center;
			font-size: calc(0.7vmax + 1rem);
			margin-bottom: 5px;
		}

		.paragraph {
			@include font.fontStyle(regular);
			color: color.$grey-color;
			line-height: 2;
			text-align: center;
			font-size: calc(0.5vmax + 0.7rem);
		}

		.items-container {
			margin-top: 60px;
			height: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.items {
				width: 400px;
				height: 470px;
				margin: 20px 10px;
				position: relative;
				background-color: rgba($color: color.$white-color, $alpha: 1);
				box-shadow: 0 10px 20px rgba($color: color.$blue-color, $alpha: 0.08);
				border-radius: 18px;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 1.5em 2em;

				figure {
					height: 100px;
					width: 100px;
					border-radius: 50%;
					overflow: hidden;
					position: relative;

					&::after {
						content: '';
						display: block;
						background-color: rgba($color: color.$purple-color, $alpha: 0.4);
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
					}
				}

				.name {
					@include font.fontStyle(semibold);
					font-size: calc(0.7vmin + 1rem);
				}

				.instagram {
					@include font.fontStyle(light);
					color: color.$grey-color;
				}

				.message {
					@include font.fontStyle(regular);
					line-height: 2;
					font-size: calc(0.7vmin + 0.68rem);
					text-align: center;
					margin: 20px auto;
					color: color.$grey2-color;
				}

				.date {
					@include font.fontStyle(semibold);
					position: absolute;
					bottom: 20px;
				}
			}
		}
	}
}
